<%- include("../shared/_header.ejs") %>

<div class="container mt-5">
  <h1 class="m-auto text-center">Card View</h1>

  <hr class="my-5" />

  <div class="d-flex justify-content-center">
    <a 
      class="btn btn-sm btn-outline-secondary"
      href="/cards/<%= card.id %>/edit"
      >Edit Card</a
    >
  </div>

  <div
    class="card ca-card mt-3 rounded mb-3 m-auto <%= card.type === 'QUESTION' ? 'bg-dark text-white rounded-3' : 'bg-white border-dark text-dark rounded-3' %>"
    style="width: 20rem; min-height: 28rem"

    
  >
    <div class="card-body">
      <p class="card-text">
        <%= card.content.replace(/\[blank\]/g, "_____") %>
      </p>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <a class="btn btn-sm btn-outline-secondary" href="/cards">Back to Cards</a>
  </div>
</div>

<%- include("../shared/_footer.ejs") %>
