<%- include("../shared/_header.ejs") %>

<div class="container d-flex justify-content-center">
  <div class="mx-auto">
    <h1 class="mt-5 text-center">User Profile</h1>

    <hr class="my-5" />

    <a href="/users/<%= user.id %>/edit">Edit User</a>

    <div class="card mt-3 mb-3" style="width: 18rem">
      <div class="card-header">User Details</div>
      <div class="card-body">
        <p class="card-text">First Name: <%= user.firstName %></p>
        <p class="card-text">Last Name: <%= user.lastName %></p>
        <p class="card-text">Nickname: <%= user.nickname %></p>
        <p class="card-text">Email Address: <%= user.email %></p>
        <p class="card-text">Role: <%= user.role %></p>
      </div>
    </div>

    <a href="/users">Back to Users List</a>
  </div>
</div>

<%- include("../shared/_footer.ejs") %>
